@import "tailwindcss";

@theme {
  --font-sans: 'Satoshi', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Satoshi', ui-serif, Georgia, serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased font-sans text-zinc-900 bg-white;
  }
}
